header {
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: solid 1px #CCCCCC;
}
header div {
    height: 100%;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 20px;
}